.centeredError {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: red;
    font-size: 1.5rem;
}

.detail p, .actor p{
    margin: 0;
}

.detail{
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0px 32px;
}

.filmImg{
    width: 400px;
    height: 500px;
    border-radius: 8px;
}

.actors{
    position: relative;
    margin: 0px 32px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listActors{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.actorImg{
    width: 160px;
    height: 228px;
    border-radius: 8px;
}

.inf{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scrollButtonL{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50% 50%;
}

.scrollButtonR{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50% 50%;
}




